[submodule "themes/lynx"]
	path = themes/lynx
	url = git@github.com:pdxjohnny/hugo-theme-lynx.git
	branch = master
[submodule "themes/cactus"]
	path = themes/cactus
	url = git@github.com:pdxjohnny/hugo-cactus-theme
[submodule "themes/axiom"]
	path = themes/axiom
	url = https://github.com/marketempower/axiom.git
[submodule "themes/persian"]
	path = themes/persian
	url = git@github.com:portlandpostpartum/persian-hugo.git
[submodule "public"]
	path = public
	url = git@github.com:portlandpostpartum/portlandpostpartum.github.io.git
	branch = master
